{% extends 'dashboard/admin_index.html' %}

{% block admin %}


<div class="card-content table-responsive table-full-width">
    <table class="table">
        <thead>
            <tr>
                <th>№</th>
                <th>Username</th>
                <th>Courses</th>
            </tr>
        </thead>
        <tbody>
        {% for i in teachers %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}